<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Aside SIDEBAR MENU-->
        <%= render 'layouts/sidebar' %>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper">
            <!--begin::Header NAVBAR-->
            <%= render 'layouts/navbar' %>
            <%= render 'layouts/flash_messages' %>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid pt-0">
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 ml-auto mr-auto">
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b example example-compact" style="box-shadow: none;">
                                    <div class="card-header">
                                        <h3 class="card-title">Gerador de jogos</h3>
                                    </div>
                                    <!--begin::Form-->
                                    <%= form_with url: generated_games_path, method: :post, local: true do |f| %>
                                        <div class="card-body">
                                          <div class="form-group row">
                                            <div class="col-md-6 required-field">
                                              <label>Jogo</label>
                                              <%= select_tag :game_type_id, options_from_collection_for_select(@game_types, :id, :name), class: "form-control" %>
                                            </div>
                                            <div class="col-md-3 required-field">
                                              <label>Quantidade de jogos</label>
                                              <%= number_field_tag :number_of_games, 1, min: 1, class: "form-control" %>
                                            </div>
                                            <div class="col-md-3 required-field">
                                              <label>Números por jogo</label>
                                              <%= number_field_tag :numbers_per_game, 6, min: 1, max: @game_types.first&.max_number || 60, class: "form-control" %>
                                            </div>
                                          </div>
                                          <div class="form-group row">
                                              <div class="ml-auto mr-auto">
                                                <%= f.button :submit, class:"btn btn-primary" do %>
                                                  Gerar jogos
                                                <% end %>
                                              </div>
                                            </div>
                                        </div>
                                    <% end %>
                                    <!--end::Form-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
            </div>
            <%= render 'layouts/footer'%>
        </div>
    </div>
</div>