<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">
    <!--begin::Aside SIDEBAR MENU-->
    <%= render 'layouts/sidebar' %>
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper">
      <!--begin::Header NAVBAR-->
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash_messages' %>


      <!--end::Header-->
      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid pt-0">
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
          <!--begin::Container-->
          <div class="container">
            <div class="row" style="padding-right: 3%;padding-left: 3%;">

              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-body ">
                          <div class="row">
                              <div class="col-5 col-md-4">
                                  <div class="icon-big text-center icon-warning">
                                      <i class="fa fa-user text-primary"></i>
                                  </div>
                              </div>
                              <div class="col-7 col-md-8">
                                  <div class="numbers">
                                      <p class="card-category">Jogos Mega Sena</p>
                                      <p class="card-title" style="color: #323f78"><%= @total_mega_sena %></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer ">
                          <hr>
                          <div class="stats">
                              <i class="fa fa-user"></i> 
                              <a href="/" class="a__sub"style="color: grey">Ver jogos</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <!--begin::Engage Widget 2-->
                <div class="card card-custom card-stretch gutter-b mt-4 mb-4">
                  <div class="card-body d-flex p-0">
                    <div class="flex-grow-1 bg-danger p-8 card-rounded flex-grow-1 bgi-no-repeat" style="background-color: white!important;background-position: calc(100% + 0.5rem) bottom; background-size: auto 70%; background-image: url(/admin/media/logo/lotofacil-logo.png)">
                      <h4 class="font-weight-bolder" style="color: #af58fb!important;">Jogos Lotofácil</h4>
                      <p class="mb-0 mt-0" style="color: #af58fb!important;">Último concurso #<%= DrawnGame.latest(1).draw %></p>
                      <div class="card-body pt-2 d-flex justify-content-center" style="padding:0;">
                        <a href="/">
                          <i class="flaticon-add-circular-button text-hover-primary" style="font-size: 60px; color:#af58fb!important;"></i>
                        </a>
                      </div>
                      Precisa ter um footer e alinhar img. Ver meus jogos/jogos sorteados
                    </div>
                  </div>
                </div>
                <!--end::Engage Widget 2-->
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-body ">
                          <div class="row">
                              <div class="col-5 col-md-4">
                                  <div class="icon-big text-center icon-warning">
                                      <i class="fas fa-user-tie text-primary"></i>
                                  </div>
                              </div>
                              <div class="col-7 col-md-8">
                                  <div class="numbers">
                                      <p class="card-category">Jogos Lotofacil</p>
                                      <p class="card-title" style="color: #323f78"><%= @total_lotofacil %></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer ">
                          <hr>
                          <div class="stats">
                              <i class="fas fa-user-tie"></i>
                              <a href="/" class="a__sub" style="color: grey">Ver jogos</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <!--begin::Dashboard-->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-lg-12 col-xxl-12">
                <!--begin::Advance Table Widget 4-->
                <div class="card card-custom card-stretch gutter-b">
                  <!--begin::Header-->
                  <div class="card-header border-0 py-5">
                    <h3 class="card-title align-items-start flex-column">
                      <span class="card-label font-weight-bolder text-dark">Jogos</span>
                      <span class="text-muted mt-3 font-weight-bold font-size-sm">jogos</span>
                    </h3>
                  </div>
                  <!--end::Header-->
                  <!--begin::Body-->
                  <div class="card-body pt-0 pb-3">
                    <div class="scroll scroll-pull" data-scroll="true" style="height: 500px">
                      <div class="tab-content">
                        <!--begin::Table-->
                        <div class="table-responsive">
                          <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                            <thead>
                              <tr class="text-left text-uppercase">
                                <th style="min-width: 150px" class="pl-7">
                                    <span class="text-dark-75">Nome</span>
                                </th>
                                <th style="min-width: 100px">Email</th>
                                <th style="min-width: 100px">Status</th>
                                <th style="min-width: 100px">Criado em</th>
                              </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                          </table>
                        </div>
                        <!--end::Table-->
                      </div>
                    </div>
                  </div>
                  <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 4-->
              </div>
            </div>
            <!--end::Row-->
            <!--end::Dashboard-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Entry-->
      </div>
      <!--end::Content-->
      <!--begin::Footer-->
      <%= render 'layouts/footer'%>
    <!--end::Footer-->
    </div>
  <!--end::Wrapper-->
</div>
<!--end::Page-->