<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">
    <!--begin::Aside SIDEBAR MENU-->
    <%= render 'layouts/sidebar' %>
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper">
      <!--begin::Header NAVBAR-->
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash_messages' %>


      <!--end::Header-->
      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid pt-0">
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
          <!--begin::Container-->
          <div class="container">
            <!--begin::Dashboard-->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-lg-12 col-xxl-12">
                <!--begin::Advance Table Widget 4-->
                <div class="card card-custom card-stretch gutter-b">
                  <!--begin::Header-->
                  <div class="card-header border-0 py-5">
                    <h3 class="card-title align-items-start flex-column">
                      <span class="card-label font-weight-bolder text-dark">Jogos sorteados Lotofacil</span>
                    </h3>
                  </div>
                  <!--end::Header-->
                  <!--begin::Body-->
                  <div class="card-body pt-0 pb-3">
                    <div class="scroll scroll-pull" data-scroll="true" style="height: 500px">
                      <div class="tab-content">
                        <!--begin::Table-->
                         <div class="table-responsive">
                          <table class="table table-striped table-hover table-borderless table-vertical-center">
                            <thead class="thead-light">
                              <tr class="text-left text-uppercase">
                                <th style="min-width: 100px" class="pl-7">
                                  <span class="text-dark-75 font-weight-bold">Concurso</span>
                                </th>
                                <th style="min-width: 100px" class="pl-7">
                                  <span class="text-dark-75 font-weight-bold">Data</span>
                                </th>
                                <th style="min-width: 200px" class="pl-7">
                                  <span class="text-dark-75 font-weight-bold">Números</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <% @lotofacil_draw_games.each do |ms| %> 
                                <tr class="game-row">
                                  <td>
                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                      <%= ms.draw %>
                                    </span>
                                  </td>
                                  <td>
                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                      <%= ms.draw_date.strftime("%d/%m/%Y") %>
                                    </span>
                                  </td>
                                  <td>
                                    <div class="number-container">
                                      <% ms.numbers.each do |number| %>
                                        <div class="circle"><%= number %></div>
                                      <% end %>
                                    </div>
                                  </td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                        <!--end::Table-->
                      </div>
                    </div>
                  </div>
                  <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 4-->
              </div>
            </div>
            <!--end::Dashboard-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Entry-->
      </div>
      <!--end::Content-->
      <!--begin::Footer-->
      <%= render 'layouts/footer'%>
    <!--end::Footer-->
    </div>
  <!--end::Wrapper-->
</div>
<!--end::Page-->
<style>
  /* Estilização da tabela */
  .table thead th {
    border-bottom: 2px solid #dee2e6;
  }
  /* Container dos números */
  .number-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Espaçamento entre os círculos */
  }

  /* Círculos */
  .circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suavização para hover */
  }

  /* Cores alternadas para círculos baseadas na linha */
  tr:nth-child(odd) .circle {
    background-color: #4caf50; /* Verde */
  }

  tr:nth-child(even) .circle {
    background-color: #2196f3; /* Azul */
  }

  /* Efeito de hover */
  .circle:hover {
    background-color: #ff9800; /* Cor laranja no hover */
    transform: scale(1.1); /* Aumenta levemente o tamanho no hover */
  }
</style>